NEXT_PUBLIC_SUPABASE_URL=https://abndpalbwojchyqqtcpt.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_EgTotRDIIRF1pdl4myiydA_4rLKI9M-

ANTHROPIC_API_KEY=sk-ant-...
ANTHROPIC_MODEL=claude-opus-5
